@import '/src/index.scss';

.wrap {
   display: flex;
   height: 100vh;
   max-height: 100vh;

   @media screen and (max-width:$xl) {
      flex-direction: column;
   }

   &__pic,
   &__form {
      flex: 1 1 50%;
   }

   &__pic {
      &>img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
      }
   }

   &__form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: em(88);
      padding-right: clamp(5rem, -7.115rem + 19.56vw, 10rem);

      @media screen and (max-width:$xl) {
         padding: em(25) 6% em(15) 6%;
      }
   }
}

.title {
   font-size: $Headline4;
   font-weight: 500;
   color: $Neutral7;
   margin-bottom: em(24, 40);

   @media screen and (max-width:$x-sm) {
      margin-bottom: em(18, 40);
   }
}

.subtitle {
   display: block;
   font-size: $Body2;
   color: $Neutral4;
   margin-bottom: em(32, 16);

   &>a {
      color: $green;
      font-weight: 500;
   }
}

.inputs {
   display: flex;
   flex-direction: column;
   gap: em(32);
   margin-bottom: em(33);
}

.logo {
   position: absolute;
   top: 5%;
   left: 50%;
   transform: translateX(-50%);

   font-family: $Poppins;
   font-size: em;

   @media screen and (max-width:$xl) {
      top: 1%;
   }
}

.sent {
   text-align: center;

   strong {
      text-align: center;
      font-family: $Poppins;
      font-size: clamp(1rem, 0.773rem + 0.97vw, 1.5rem);
   }

   a {
      color: $green;
      font-weight: 500;
   }
}

.errorMsg {
   display: block;
   text-align: center;
   font-size: clamp(0.625rem, 0.321rem + 0.63vw, 0.875rem);
   color: $red;

   padding-top: em(5);
}