@import '/src/index.scss';

.wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: em(5);

   padding-bottom: em(14);
   border-bottom: em(1) solid $Neutral4;
}

.input {
   font-size: $Body2;
   background-color: transparent;
   line-height: 1.2;
   width: 100%;

   &__show {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &>span {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(45deg);
         display: block;
         height: em(15);
         width: em(1.2);
         background-color: #6C7275;
      }

   }

}