@import '/src/index.scss';


.radio {

   &__input {
      position: absolute;
      z-index: -1000;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
   }

   &__label {
      position: relative;
      width: em(18);
      height: em(18);
      border-radius: 100%;
      border: em(1) solid $black;

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: em(10);
         height: em(10);
         border-radius: 100%;
      }

      &._active::after {
         background-color: $black;
      }
   }
}